<button *ngIf="canGoBack"
        class="ic-chain__btn-go-back"
        (click)="reset()">
  Go back
</button>

<app-chain-item *ngFor="let item of displayItems"
                (onShowSubInterLinks)="showSubInterLinks($event)"
                [item]="item">
</app-chain-item>
