<div class="ic-chain-item__block">
  {{ item.id }}
</div>

<div class="ic-chain-item__interlinks" *ngIf="item.interlinks.length">
  <div class="ic-chain-item__interlink"
       *ngFor="let interlink of item.interlinks; let i = index"
       (click)="showSubInterlinks(item, i)">
    <div class="ic-chain-item__interlink-level">Level {{ i + 1 }}</div>
    <div class="ic-chain-item__interlink-id">{{ interlink }}</div>
  </div>
</div>

<div class="ic-chain-item__interlinks"
     *ngIf="item.interlinks.length === 0">
  <div class="ic-chain-item__empty">
    Empty
  </div>
</div>
