:host,
.ic-chain-item {
  display: flex;
  margin: 10px;

}

.ic-chain-item__interlinks {
  width: 50%;
}

.ic-chain-item__block {

  color: #fff;
  background-color: #4e76ff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic-chain-item__interlink {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.ic-chain-item__interlink-level {
  background: #ff337d;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
}

.ic-chain-item__empty {
  padding: 10px;
}
